.from {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    width: 300px;
    background: #ffa974;
    border-radius: 10px;
    margin: 10px;
    transition: 0.5s;
}

.h2 {
    padding: 10px;
}

.cardMargin {
    margin: 10px;
}

.inputMarginLeft {
    margin-left: 25px;
}







/* button  */
.btn {
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
    background: rgb(86, 202, 202);
    transition: 0.4s;
}
.btn:hover {
    background: #53e473;
    transform: scale(1.05);
}